body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px;
  background: linear-gradient(45deg, #ff4d4d, #ff9900);
  color: white;
}

.btn {
  background: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

/* GRID PRODUTOS */
.grid {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* CARRINHO */
.carrinho {
  padding: 20px;
}